/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Muli:400,700');
body {
  background: #e8e8e8;
  font-family: 'Muli';
}
.tarjeta {
  padding: 2%;
  border: 1px solid black;
}

.customBg {
  background-color: #fff;
}
.cardCustom {
  margin: 1%;
  max-width: calc(25% - 2%);
}
